/*
   simple styles for a simple app
   */
body {
    background-color: white;
}

#itable
{
    width: 80%;
}

#itable tr,
#itable td
{
    border: 0;
}

.rtable {
    width: 80%;
    border: 1px solid;
    border-collapse: collapse;
}

.rtable th {
    border: 2px solid;
}

.rtable tr, td {
    border: 1px solid;
}

/*
table.itable {
    width: 80%;
    border-style: none;
    border: 0px; 
    background-color: lightyellow; 
}
*/
#btn {
    width: 60%;
    text-align: center;
}
